@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #4A00E0;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

.h-custom {
  height: calc(100vh - 112px);
}

.bg-our-gradient {
  @apply bg-gradient-to-tl from-secondary to-primary;
}

.rounded-custom {
  border-radius: 1rem;
}

table {
  @apply relative z-10;
}

.z-5 {
  z-index: 5;
  position: relative;
}


thead .text-gray-500 {
  @apply text-primary;
}

tbody.divide-y {
  border: none;
}

thead {
  position: sticky;
  background: white;
  z-index: 10;
}

td .mb-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
}

/* thead th:first-child,
thead tr:first-child {
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
} */

.divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
  /* --tw-divide-opacity: 1; */
  /* border-color: rgb(229 231 235 / var(--tw-divide-opacity)); */
  border: none;
} 

.shadow {
  box-shadow: none;
}


.navbar-selected {
  @apply text-primary font-black opacity-100 bg-white rounded-2xl px-4;
}

.navbar-hovered {
  @apply hover:text-primary hover:opacity-100 hover:bg-white hover:rounded-2xl hover:px-4 hover:font-black;
}

.ef {
  transition-duration: .25s;
}



.overflow-y-scroll {
  overflow: inherit;
}

.mapboxgl-ctrl-top-right {
  right: 1rem;
  top: 1rem;
}

.fill-primary {
  fill: theme('colors.primary');
}

.fill-secondary {
  fill: theme('colors.secondary');
}

@screen lg {
 
  th.text-xs,
  th button.text-xs {
    font-size: 1.1rem;
  }

  .lista-table th.text-xs:nth-child(4),
  .lista-table th.text-xs:nth-child(4) button,
  .lista-table th.text-xs:nth-child(5),
  .lista-table th.text-xs:nth-child(5) button {
    text-align: center;
    margin: 0 auto;
  }


  .lista-table th.text-xs:last-child {
    text-align: right;
  }

  .lista-table td.text-sm:nth-child(4),
  .lista-table td.text-sm:nth-child(4) button,
  .lista-table td.text-sm:nth-child(5),
  .lista-table td.text-sm:nth-child(5) button  {
    text-align: center;
    margin: 0 auto;
  }



  .lista-table td.text-sm:last-child a {
    display: flex;
    justify-content: flex-end;
  }

  /* */
  
  .rezultate-table td {
    text-align: center;
  }


  .rezultate-table td:nth-child(2) {
      text-align: left;
  }



 
}